// Header & Nav
.header {
    padding: 2rem $pad-mobile;
    display: flex;
    justify-content: center;

    @media (min-width: $tablet) {
        padding: 3rem $pad-tablet;
    }
}


.nav {
    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 2rem;
    }

    &__link {
        text-decoration: none;
        color: $color-perma-earth;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.9rem;
        transition: color 0.3s ease;

        &:hover, &--active {
            color: $color-perma-moss;
        }
    }
}

