<footer class="footer">
        <div class="footer__container">
        <p>© 2026 Perma ráj | Karolína Chovancová</p>
        <p>Napište mi na: <a href="mailto:kar.chovancova@gmail.com" class="footer__link">kar.chovancova@gmail.com</a></p>
        </div>
</footer>

