

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {# Dynamický titulek: Název článku | Perma ráj #}
    <title>{% if title %}{{ title }} | Perma ráj{% else %}Perma ráj{% endif %}</title>
    
    {# Popis webu pro vyhledávače #}
    <meta name="description" content="Budujeme. Pomalu. S vědomím souvislostí. Permakulturní zahrada a život v tichu Sedlčanska.">

    <meta property="og:title" content="{% if title %}{{ title }} | Perma ráj{% else %}Perma ráj – život v tichu Sedlčanska{% endif %}">
    <meta property="og:description" content="Budujeme. Pomalu. S vědomím souvislostí. Místo pro pěstování jídla i sounáležitosti.">
    {# Jako obrázek použijeme tu tvou spirálu #}
    <meta property="og:image" content="https://permaraj.cz/img/zapisky/026/sedici_panacek.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://permaraj.cz">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Perma ráj">
    <meta name="twitter:description" content="Budujeme. Pomalu. S vědomím souvislostí.">
    <meta name="twitter:image" content="https://permaraj.cz/img/zapisky/026/sedici_panacek.png">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">

    <link rel="canonical" href="https://permaraj.cz{{ page.url }}">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    
    
</head>

