<header class="header">
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/" class="nav__link nav__link--active">Tady a teď</a></li>
                <li class="nav__item"><a href="/permakultura" class="nav__link">Permakultura</a></li>
                <!-- <li class="nav__item"><a href="/gosun" class="nav__link">Solární kuchyně</a></li> -->
                <li class="nav__item"><a href="/zapisky" class="nav__link">Zápisky</a></li>
            </ul>
        </nav>
</header>
